*{
    margin: 0;
    padding: 0;
    text-align: center;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    size-adjust: initial;
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5vw;
    line-height: 5vw;
    
}

.choice{
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
   align-items: center;
}
.choice:hover{
    /* opacity: 0.5; */
    cursor: pointer;
    background-color:#081b31 ;
}

img{
    height: 7vw;
    width: 7vw;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 3rem;
    font-size: 2vw;
}

.msg-container{
    margin-top: 5rem;
    
}

#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2vw;
    display: inline;
    padding: 1vw;
    border-radius: 1vw;
}